---
import BaseLayout from "@/layouts/base-layout.astro";
import { createTranslation } from "../../../utils/language";
export { getStaticPaths } from "@/utils/language";

const t = createTranslation(Astro.params.lang);
---

<BaseLayout {t} title="免費 QRCode 產生器">
  <main></main>
</BaseLayout>
