---
import "@/styles/global.css";
import BaseLayout from "@/layouts/base-layout.astro";
import { TwoComplement } from "@/components/two-complement";
import { Button } from "@/components/ui/button";
import { RotateCcw } from "lucide-react";
import { Separator } from "@/components/ui/separator";
import { createTranslation } from "@/utils/language";
export { getStaticPaths } from "@/utils/language";
import { getEntry } from "astro:content";
import Adsense from "@/components/adsense.astro";

const t = createTranslation(Astro.params.lang);

// @ts-ignore
const entry = await getEntry("posts", `${lang}/two-complement`);

// @ts-ignore
const { Content } = await entry.render();
---

<BaseLayout
  {t}
  title={t("two-complement.title")}
  description={t("two-complement.description")}
>
  <h2>{t("two-complement.title")}</h2>
  <p>{t("two-complement.description")}</p>
  <TwoComplement lang={Astro.params.lang} client:visible />
  <a class="my-4 inline-block" href="/calculator/two-complement/reverse">
    <Button>
      <span class="mr-2">
        <RotateCcw size="16" />
      </span>
      {t("global.reverse")}
    </Button>
  </a>
  <Separator className="my-8 block bg-border/50" />
  <article class="my-4">
    <Content
      components={{
        Adsense,
      }}
    />
  </article>
</BaseLayout>
