---
import { Sparkles } from "lucide-react";
import { TwoComplementReverse } from "~/components/two-complement-reverse";
import { Button } from "~/components/ui/button";
import BaseLayout from "~/layouts/base-layout.astro";
import { createTranslation } from "~/utils/language";

export { getStaticPaths } from "~/utils/language";

const t = createTranslation(Astro.params.lang);
---

<BaseLayout
  {t}
  title={t("two-complement-reverse.title")}
  description={t("two-complement-reverse.description")}
>
  <h1>{t("two-complement-reverse.title")}</h1>
  <p>{t("two-complement-reverse.description")}</p>
  <TwoComplementReverse lang={Astro.params.lang} client:visible />
  <a class="mt-4 inline-block" href={`/${Astro.params.lang}/two-complement`}>
    <Button>
      <span class="mr-2">
        <Sparkles size="16" />
      </span>
      {t("global.reverse")}
    </Button>
  </a>
</BaseLayout>
