---
import BaseLayout from "../../layouts/base-layout.astro";
import Adsense from "../../components/adsense.astro";
export { getStaticPaths } from "../../utils/language";
import { AddressToEnglishInput } from "../../components/address-to-english-input";
---

<BaseLayout
  title="台灣中華郵政地址轉英文"
  description="輸入臺灣地址轉為英文格式，支援中文、全形數字轉換，方便填寫國際郵件，或是在網路上填寫地址時使用"
>
  <main
    class="text-center min-h-[calc(100dvh-10rem)] md:min-h-[calc(100dvh-16rem)] flex justify-center flex-col"
  >
    <h1 class="text-3xl font-bold">台灣中華郵政地址轉英文</h1>
    <p class="text-muted-foreground">
      輸入臺灣地址轉為英文格式，支援中文、全形數字轉換，方便填寫國際郵件，或是在網路上填寫地址時使用
    </p>
    <AddressToEnglishInput client:visible />
    <p class="text-sm text-muted-foreground">
      資料來源：中華郵政（縣市鄉鎮中英對照檔、中英文街路名稱對照檔、村里文字巷中英對照文字檔）
    </p>
    <div class="grid md:grid-cols-2 gap-4">
      <Adsense />
      <Adsense />
    </div>
  </main>
</BaseLayout>
