---
import Adsense from "../../components/adsense.astro";
import BaseLayout from "../../layouts/base-layout.astro";

export { getStaticPaths } from "../../utils/language";

import { AddressToEnglishInput } from "../../components/address-to-english-input";
---

<BaseLayout
  title="線上台灣郵政地址轉英文、地址英譯、地址中翻英"
  description="輸入臺灣地址轉為英文格式，支援中文、全形數字轉換，方便填寫國際郵件，或是在網路上填寫地址時使用，翻譯都在本機上運作，確保隱私無疑慮"
>
  <main
    class="text-center min-h-[calc(100dvh-10rem)] md:min-h-[calc(100dvh-16rem)] flex justify-center flex-col"
  >
    <h1 class="text-3xl font-bold">
      線上台灣郵政地址轉英文、地址英譯、地址中翻英
    </h1>
    <p class="text-muted-foreground max-w-xl mx-auto">
      輸入臺灣地址轉為英文格式，支援中文、全形數字轉換，方便填寫國際郵件，或是在網路上填寫地址時使用，翻譯都在本機上運作，確保隱私無疑慮
    </p>
    <AddressToEnglishInput client:visible />
    <p class="text-sm text-muted-foreground">
      資料來源：中華郵政（縣市鄉鎮中英對照檔、中英文街路名稱對照檔、村里文字巷中英對照文字檔）
    </p>
    <div class="grid md:grid-cols-2 gap-4">
      <Adsense />
      <Adsense />
    </div>
  </main>
</BaseLayout>
