---
import "@/styles/global.css";
import BaseLayout from "../../../layouts/base-layout.astro";
import { TwoComplement } from "../../../components/two-complement";
import { Button } from "@/components/ui/button";
import { RotateCcw } from "lucide-react";
import Article from "@/articles/two-complement.mdx";
import { Separator } from "../../../components/ui/separator";
---

<BaseLayout
  title="二的補數計算機"
  description="簡易的八位元、十六位元、等二補數計算機"
>
  <h2>二的補數計算機</h2>
  <p>簡易的八位元、十六位元二補數計算機</p>
  <TwoComplement client:idle />
  <a class="my-4 inline-block" href="/calculator/two-complement/reverse">
    <Button>
      <span class="mr-2">
        <RotateCcw size="16" />
      </span> 反轉
    </Button>
  </a>
  <Separator className="my-8 block bg-border/50" />
  <article class="my-4">
    <Article />
  </article>
</BaseLayout>
