---
import "@/styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import H1 from "../components/ui/h1.astro";
import H2 from "../components/ui/h2.astro";
---

<BaseLayout title="123">
	<H1>我只想要個快一點的小工具。</H1>
	<div class="my-8">
		<H2>進制轉換</H2>
	</div>
</BaseLayout>
