---
import "@/styles/global.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
import H3 from "@/components/ui/h3.astro";
import { TwoComplement } from "../components/TwoComplement";
import Text from "../components/ui/text.astro";
---

<BaseLayout
	title="二的補數計算機"
	description="簡易的八位元、十六位元二補數計算機"
>
	<H3>二的補數計算機</H3>
	<Text>簡易的八位元、十六位元二補數計算機</Text>
	<TwoComplement client:idle />
</BaseLayout>
