<div class="h-40 w-full my-4 relative">
  <ins
    class="adsbygoogle block text-center"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-1801171681307308"
    data-ad-slot="4950823280"></ins>
</div>

<script is:inline>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
