---
import { HeaderMenu } from "./header-menu";
import { Image } from "astro:assets";
import logo from "@/assets/logo.png";
import { ThemeToggle } from "./theme-toggle";
import { TranslateFunction } from "../utils/language";
import { LanguageSelect } from "./language-select";

const t = Astro.props.t as TranslateFunction;

const url = new URL(Astro.url);

// remove language prefix
url.pathname = url.pathname.split("/").slice(2).join("/");

const code = t("code");
---

<div class="w-full mb-8 sticky top-0 z-50 bg-background/30 backdrop-blur">
  <nav class="h-16 flex items-center container">
    <a href={`/${code}`} class="flex items-center">
      <Image
        alt="Yeecord"
        src={logo}
        width="128"
        height="128"
        class="w-8 mr-2.5 rounded-full"
      />
      <span class="font-medium">{t("global.header.title")}</span>
    </a>
    <div class="flex-grow"></div>
    <LanguageSelect path={url.pathname} code={code} client:visible />
    <ThemeToggle client:visible />
    <HeaderMenu />
  </nav>
</div>
