---
import { ArrowRight, Calculator } from "lucide-react";
import Text from "@/components/ui/text.astro";
import Muted from "@/components/ui/muted.astro";

const { href, title, from, to } = Astro.props.config;
---

<a
	href={href}
	class="block p-5 border rounded-md space-y-2 hover:bg-gray-900 transition-colors"
>
	<Calculator />
	<Text>{title}</Text>
	<div class="flex items-center gap-2">
		<Muted class="flex">{from}</Muted>
		<Muted class="flex">
			<ArrowRight size="12" />
		</Muted>
		<Muted class="flex">{to}</Muted>
	</div>
</a>
