---
import BaseLayout from "@/layouts/base-layout.astro";
import { createTranslation } from "@/utils/language";
import Adsense from "@/components/adsense.astro";
import { QrcodeGenerator } from "@/components/qrcode-generator";
import { Separator } from "@/components/ui/separator";
export { getStaticPaths } from "@/utils/language";
import { getEntry } from "astro:content";

const t = createTranslation(Astro.params.lang);

// @ts-ignore
const entry = await getEntry(
  "posts",
  `${Astro.params.lang}/free-qrcode-generator`,
);

// @ts-ignore
const { Content } = await entry.render();
---

<BaseLayout {t} title={t("qrcode.title")} description={t("qrcode.description")}>
  <main
    class="text-center min-h-[calc(100dvh-10rem)] md:min-h-[calc(100dvh-16rem)] flex justify-center flex-col"
  >
    <h1 class="text-3xl font-bold">{t("qrcode.title")}</h1>
    <p class="text-muted-foreground">{t("qrcode.description")}</p>
    <QrcodeGenerator client:visible />
    <div class="grid md:grid-cols-2 gap-4">
      <Adsense />
      <Adsense />
    </div>
  </main>
  <Separator className="my-8 block bg-border/50" />
  <article
    class="my-4 prose dark:prose-invert mx-auto prose-h1:text-center max-w-screen-md"
  >
    <Content
      components={{
        Adsense,
      }}
    />
  </article>
</BaseLayout>
